@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap');



/* Base CSS */

* {
    margin: 0;
    padding: 0;
}
    .alignleft {
        float: left;
        margin-right: 15px;
    }
    .alignright {
        float: right;
        margin-left: 15px;
    }
    .aligncenter {
        display: block;
        margin: 0 auto 15px;
    }
    a:focus { outline: 0 solid }
    img {
        max-width: 100%;
        height: auto;
    }

    h1,h2,h3,h4,h5,h6{
        margin: 0 0 5px;
        font-weight: 700;
    }
    a:hover, a:focus{
        text-decoration: none;
        outline: none;
        border: none;
    }
    body {  background: #f4f4f4;  color: #f7f7f7;  font-family: 'Source Sans Pro', sans-serif;  font-weight: 300;}

    


.filter-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.filter-menu ul li {
  display: inline-block;
  border: 2px solid #333;
  padding: 10px 20px;
  text-transform: capitalize;
  cursor: pointer;
}
.item {
  background-color: #fff;
  border-radius: 13px;
}
.filter-menu {
    margin-bottom: 15px;
    margin-left: -5px;
	 background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
	 padding: 10px 2px 2px 10px;
}
.demo2 .filter-menu {
	 background: transparent;
	 padding: 0;
}
.filter-item .item{
    transition: .8s;
    -webkit-transition: .8s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}
.filter-item .item.__loading{
    opacity: 0;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
}

.item_content {
    border: transparent;
}
.filter-menu ul li {
    display: inline-block;
    border: 1px solid #999;
    padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.demo2 .filter-menu ul li {
  background: transparent;
      color: #fff;
    font-weight: 400;
}
i.fa.fa-chevron-left,i.fa.fa-chevron-right {
    color: #fda806ad;
}


img.img-responsive.logo {
    width: 50%;
    margin-top: -20px;
}
.navbar {
    border-radius: 0;
    padding: 3px 5px;
    margin-bottom: 5px;
}
.owl-next,.owl-prev {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
}
.owl-next {
    right: -55px;
    font-size: 45px;
}
.owl-prev {
    left: -25px;
    font-size: 45px;
}
.container-fluid.custom_fluid {
    padding-left: 50px;
    padding-right: 50px;
}
.player{
    position: relative;
}

.flowplayer {
    display: block;
    margin: 0 auto !important;
    width: 60%;
}

.player {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}

footer.footer p{
    color: #fff;
font-size:12px;
}

footer.footer {
    background: transparent;
    padding-top: 15px;
    padding-bottom: 5px;
}

.owl-filter {
    margin-bottom: 3%;
}

.owl-carousel .owl-item img{
max-height:122px;
}


footer.footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 8px;
}
.footer_social li {
    
}
.nav.navbar-nav li a i {
    color: #46b2b4;
}
.flowplayer.fp-ui-shown .fp-ui, .flowplayer.is-paused .fp-ui, .flowplayer.is-mouseover .fp-ui, .flowplayer.is-loading .fp-ui {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 122, 183, 0.5803921568627451)), color-stop(15%, transparent));
    background-image: -webkit-linear-gradient(bottom, rgba(51, 122, 183, 0.5803921568627451), transparent 15%);
    background-image: linear-gradient(to top, rgba(51, 122, 183, 0.5803921568627451), transparent 15%);
}
.flowplayer .fp-header {
    top: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 122, 183, 0.5803921568627451)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(51, 122, 183, 0.5803921568627451), transparent);
    background-image: linear-gradient(to bottom, rgba(51, 122, 183, 0.5803921568627451), transparent);
    text-align: left;
    height: 3.6em;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    padding-left: .9em;
}
.footer_social a i {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-top: 8px;
    border-radius: 50%;
    padding-right: 8px;
    color: #fff;
}
i.fa.fa-facebook {
    padding-right: 10px;
}
.filter-menu ul li.filter-btn {
    display: inline-block;
    border: 2px solid #ff0000;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
  border-radius: 12px
}

.flowplayer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 450px;
}

/*Demo 2*/

.demo2 {
    color: #f7f7f7;
    font-weight: 400;
    text-transform: uppercase;
}
.demo2 header {
    padding: 3px 0px;
    padding-bottom: 0;
}
.logo-mid img {
    margin: 0 auto;
    width: 180px;
    margin-bottom: -18px;
    margin-top: -5px;
}
.demo2 .player {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}
.demo2 .filter-menu {
    margin-bottom: 10px;
    margin-left: -5px;
}
.demo2 .footer_social a i {
    padding-right: 0px; 
}

.demo2 .owl-filter {
    margin-bottom: 1%;
}
i.fa.fa-facebook {
    background: #3B5998;
}
i.fa.fa-twitter {
    background: #1da1f2;
}

i.fa.fa-vimeo {
    background: #90d5ec;
}
i.fa.fa-linkedin {
    background: #0077b5;
    padding-left: 3px;
}

.col-md-6.text-right.footer_social {
    margin-top: -5px;
}

.filter-btn{
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;  
}


.filter-btn:after{
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  top: 0;
  height: 3px;
  background: #06ff0f94;
  right: 0;
  left: auto;
}

.filter-btn.btn-active:after {
    width: 100%;
    color:white;
height: 100%;
}
.filter-btn:hover:after {
    width: 100%;
    color: white;
    
    
}
.owl-carousel .owl-item   .item_content{
    padding: 10px;
	transition: all 0.3s;
	 overflow:hidden;
}

.item_content img:hover{

	transition: all 0.3s;
	cursor:pointer;
	    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}


@media(max-width:800px){
	
	
.filter-menu{
	display:none;
}

.flowplayer {
    width: 90%;
}

}


        /*  Added Code */
        .ifream {
            margin: 0 auto;
            height: 465px;
            width: 810px;
            border: 0ch;
            margin-top: 10px;
            display:block;
          }
      
          @media only screen and (max-width: 810px) {
            .ifream {
                margin: 0 auto;
              height: 450px;
              width: 95%;
              border: 0ch;
              margin-top: 5px;
            }
          }
      
          @media only screen and (max-width: 600px) {
            .ifream {
            margin: 0 auto;
              height: 350px;
              width: 95%;
              border: 0ch;
              margin-top: 5px;
            }
          }
      
          @media only screen and (max-width: 500px) {
            .ifream {
              height: 300px;
              width: 100%;
              border: 0ch;
              margin-top: 5px;
            }
          }
      
          @media only screen and (max-width: 400px) {
            .ifream {
              height: 250px;
              width: 100%;
              border: 0ch;
              margin-top: 5px;
            }
          }
      
          @media only screen and (max-width: 320px) {
            .ifream {
              height: 200px;
              width: 100%;
              border: 0ch;
              margin-top: 5px;
            }
          }
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

:root {
  --red: rgb(169 0 0);
  --grey: rgb(5 1 10);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Nav Styles start here*/

header {
  background: var(--grey);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}

.logo {
  margin: .1em;
  color: white;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-hamburger {
  outline: 1px solid var(--red);
  opacity: .75;
}

.nav-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-hamburger span,
.nav-hamburger span::before,
.nav-hamburger span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 4px;
  position: relative;
}

.nav-hamburger span::before,
.nav-hamburger span::after {
  content: '';
  position: absolute;
}

.nav-hamburger span::before {
  bottom: 7px;
}

.nav-hamburger span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--grey);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--red);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*Main body styles starts here*/

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #939393;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* Media Query for bigger screens*/
@media screen and (min-width: 800px) {
  .nav-hamburger {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }
  
  nav li {
    margin-top: .5em;
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--red);
    position: absolute;
    top: -.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    border-radius: 4px;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  
/* Preloader */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Black background with 50% opacity */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: red;
    animation: PreloaderSpin 2s linear infinite;
}

#loader:before {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: white;
    animation: PreloaderSpin 6s linear infinite;
}

#loader:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 10px 0 0 22px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: yellow;
    animation: PreloaderSpin 3s linear infinite;
}

@keyframes PreloaderSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

    .notice-movies1 {
    margin-right: 10%;
    margin-left: 10%;
    background: #010838;
    color: white;
    position: relative;
    padding: 10px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
}

    .notice-movies1::before {
      position: absolute;
      border-left: 17px solid #000;
      border-bottom: 17px solid #000;
      border-top: 17px solid transparent;
      border-right: 17px solid transparent;
      left: 98px;
      top: 0;
      z-index: 1;
    }

    .notice-movies1::after {
      content: 'Notice:';
      position: absolute;
      height: 100%;
      padding: 0 10px;
      line-height: 48px;
      background: #bd0000;
      color: white;
      font-family: 'Arial', sans-serif;
      font-weight: 600;
      left: 0;
      top: 0;
    }
 /* Media query for mobile devices */
@media only screen and (max-width: 800px) {
    .notice-movies1 {
    background: #010838;
    color: white;
    position: relative;
    padding: 10px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
        margin-right: 5%;
        margin-left: 5%;
        font-size: 13px;
    }

    .notice-movies1::before {
        position: absolute;
      border-left: 17px solid #000;
      border-bottom: 17px solid #000;
      border-top: 17px solid transparent;
      border-right: 17px solid transparent;
      left: 98px;
      top: 0;
      z-index: 1;
    }

    .notice-movies1::after {
        content: 'Notice:';
      position: absolute;
      height: 100%;
      padding: 0 10px;
      line-height: 48px;
      background: #bd0000;
      color: white;
      font-family: 'Arial', sans-serif;
      font-weight: 600;
      left: 0;
      top: 0;
    }
}